/*
    Name: Keya Sital
    Student Number: 100786943
    Date: November 11, 2022
    Semester: Fall 2022
    Course Code: CWMD 1500-03
    Professor: Stuart Sackler
    School: Durham College
    File Name: main.css
*/

@charset "UTF-8";
/* CSS Document*/

body {
    margin: 0px;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}